<!doctype html>
<html lang="fa">

<head dir="rtl">
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Snippet - GoSNippets</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='~/assets/css/style.css' rel='stylesheet'>

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>



    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body class='snippet-body'>
    <div class="container register">
        <div class="top-content">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <br />
                    <br />
                    <p>آژانس تان را ثبت نکردید؟</p>

                    <a href="/Home/regAgancy" class="btn btn-primary" >ثبت نام آژانس</a>
                </div>
            </div>
            <div class="form-box">

                <div class="form-bottom">
                    <form role="form" action="" method="post" class="login-form">
                        <div class="form-group">
                            <label class="sr-only">برای ثبت آگهی ابتدا شماره تلفن آژانس را وارد کنید</label>
                            <br />
                            <input type="text" name="form-username" placeholder="شماره تلفن آژانس" class="form-username form-control" id="agencyPhone">
                        </div>


                    </form>
                    <button onclick="checkagaPhone()" type="submit" class="btn btn-primary rounded_pill  px-3">ثبت آگهی</button>
                </div>
            </div>

        </div>
    </div>

    <script type='text/javascript'></script>
    <script src="~/assets/js/myjquery.js"></script>

    <script>
        function checkagaPhone() {
            var agencyPhone = $("#agencyPhone").val();

            $.post("/Home/checkagaPhone", { agencyPhone: agencyPhone })

                .done(function (res) {
                    switch (res) {
                        case 0: swal("عملیات ناموفق", "ابتدا آژانس خود را ثبت کنید", "error");
                            break;
                        case 1:   
                            window.location.href = "//localhost:43567/Home/Advertise";
                           
                            break;
                            return false;

                    }
                   

                })
                .fail(function () {
                    alert("خطا در برقراری ارتباط با سرور");
                })
                .always(function () {

                });
           
        };

    </script>


</body>

</html>